table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #5c5c5c;
  padding: 20px;
  text-align: center;
}

th {
  background-color: #696969;
  color: #fff;
}

.tableActions {
  display: flex;
}

.detailsBtn {
  background: #3665ff !important;
  color: #fff;
  margin-right: 5px;
  font-size: 12px;
  text-align: center;
}

.editBtn {
  background: #f5c527;
  color: #fff;
  margin-right: 5px;
  font-size: 12px;
  text-align: center;
}

.deleteBtn {
  background: #f73f3f;
  color: #fff;
  margin-right: 5px;
  font-size: 12px;
  text-align: center;
}

.battleBtn {
  background: #696969;
  color: #fff;
  margin-right: 5px;
  font-size: 12px;
  text-align: center;
}

.closeBtn {
  background: #f73f3f;
  color: #fff;
  text-align: center;
}

.addBtn {
  background: #6ff332 !important;
  color: #fff;
  margin-top: 50px;
}

.heroesBtn {
  margin-top: 20px;
  color: #fff;
  background-color: #696969;
  margin-right: 15px;
}

.knightAddBtn {
  background: #6ff332 !important;
  color: #fff;
  margin-top: 50px;
}

.formAdd div {
  display: grid;
}

.formAdd label {
  text-align: left;
}

.formAdd input,
.formAdd select {
  height: 40px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.formAdd button {
  background-color: #e3e3e3;
}

.titleAdd {
  margin-top: 20px;
}

.formAdd ul {
  list-style: none;
  padding: 0;
}

.formAdd ul li {
  text-align: left;
}

.formAdd ul li input,
.formAdd ul li select {
  margin-right: 15px;
  width: 21%;
}

.detailsContainer ul {
  list-style: none;
  padding: 0;
}
